@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

.bg-primary {
    background-color: #5F6FFF;
}

.text-primary {
    color: #5F6FFF;
}

.border-primary {
    color: #5F6FFF;
}

::-webkit-scrollbar {
    display: none;
}

.group-hover\:bg-primary:hover {
    background-color: #5F6FFF;
}